html {
	padding: 8px 8px 8px 8px;
	background: #FFFFFF;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
}

body {
	padding: 8px 8px 8px 8px;
    align-self: center;
	background: #D6D6D6;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
}