.gridPhoto > .project > img {
    width: 400px;
    height: 700px;
}

.grid1 > .project > a > img {
    width: 500px;
    height: 300px;
}

.grid1 {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(500px, 1fr));
    grid-template-rows: repeat(2, minmax(300px, 1fr));
    justify-content: center;
    text-align: center;
}

.gridPhoto {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(400px, 1fr));
    grid-template-rows: repeat(1, minmax(700px, 1fr));
    justify-content: center;
}

.project {
    border: rgb(245, 112, 64) 5px solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease; /* Add transition effect */
    margin: 30px;
}

.photoText {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease; /* Add transition effect */
    margin: 30px;
}

.project:hover {
    transform: scale(1.10); /* Increase size by 5% on hover */
}